/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query since this is the default in Bootstrap */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap"); /* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}
body,
h2,
p,
div {
  font-family: Cairo;
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .mh_large {
    padding: 0 15%;
  }
}

.mh_skills_card {
  margin: 3px 0;
  padding: 5px;
}
.mh_skills {
  margin-bottom: 0;
  padding-left: 20px;
}
